.counter-container{
    background-color: rgb(190, 234, 219);
    padding: 2rem;
    margin:auto;
    border: 0.3rem solid aqua;
    border-radius: 15px 15px 15px 15px;
}
.items{
    display: flex;
    margin: auto;
}
.cart-items{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
#item-count{
    background-color: aqua;
    border-radius: 40%;
    padding: 10px 20px 10px;
}
.recycle-reset{
    font-size: large;
    font-weight: bold;
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.fa-refresh, .fa-recycle{
    border-radius: 5px 5px 5px 5px;
}
.refresh-button{
    background-color: rgb(25, 162, 25);
}
.recycle-button{
    background-color: aqua;
}
.cart-items{
    display: flex;
    justify-content: center;
    gap: 1rem;
    height: 3rem;
}
button{
    padding: 0.8rem;
    border-radius: 5px 5px 5px 5px;
    border: 0;
    color: white;
    cursor: pointer;
}

button:hover{
    opacity: .8;
}
.plus-button{
    background-color: grey;
}
.minus-button{
    background-color: rgb(53, 144, 144);
}
.trash-button{
    background-color: brown;
}
.not-zero, .zero{
    width: 2.3rem;
    padding: 0.5rem;
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(63, 63, 176);
    color: white;
    font-weight: bold;
}
.zero{
    color: black;
    background-color: yellow;
}

